/* Created by: Devin Boucher
* Created on: April 2025
* This file contains the CSS for index.html
*/
.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  text-align: center;
}

.mdl-textfield__error {
  color: rgb(63 0 145);
}

.page-content a {
  color: rgb(0 0 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

body,
.page-content,
h1,
label,
select {
  text-align: center;
}

body {
  background-color: rgb(140 78 216);
}

img {
  height: 200px;
}

#section-count {
  text-align: center;
  width: 200px;
  max-width: 80vw;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.spinner-image {
  margin: 0 auto;
  max-width: 300px;
}